.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  max-width: 200px;
  width: 100%;
  height: 370px;
  background: #151515;
  display: flex;
  flex-direction: column;
  transition: background 0.3s; /* Asegura que los elementos se apilen verticalmente */
}

.card-image {
  width: 100%;
  height: auto;
  max-height: 200px;
}

.card-line {
  height: 10px;
  background-color: #e62429;
}

.card-content {
  padding: 10px;
  color: #bbb;
  flex: 1; /* Hace que el contenido ocupe el espacio restante */
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-family:  RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
  color: #ffffff;
  font-weight: bolder;
  text-align: left;
}

.card-text {

  font: 400 14px/1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
  text-align: left;
  
}

.card:hover {
  cursor: pointer;
  background: #e62429; /* Nuevo color de fondo al pasar el ratón sobre la tarjeta */
}

.card-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  transition: transform 0.3s ease; /* Transición para el efecto de zoom */
}

.card:hover .card-image {
  transform: scale(1.1); /* Hace un poco de zoom al pasar el ratón sobre la tarjeta */
}
.card:hover .card-text{
  color:white;
}



