/*value*/
*{
  font-family: 400 16px/1.3 Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
}
.App {
  text-align: center;
}
.third{
  margin-top: 5vw;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.titleweb {
  color: #151515;
  text-align: left;
  padding-left: 5vw; /* Utilizando vw para el padding izquierdo */
  font-size: 4vw; /* Utilizando vw para el tamaño del texto */
}

/* Media query para ajustar el tamaño del texto en pantallas más pequeñas */
@media screen and (max-width: 600px) {
  .titleweb {
    font-size: 18px; /* Tamaño de fuente fijo para pantallas pequeñas */
  }
  .titulohead{
    font-size: 18px;
  }
}
.button-container {
  display: flex;
  justify-content:flex-end;
  margin-bottom: 10px;
}

button {
  background-color: transparent;
  color: #151515;
  border: none;
  padding: 10px 20px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font: 400 14px/1.2 Roboto Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

button.selected {
background-color:#e62429;
color: white;
border-radius: 20px;

}
.titulohead{

  font-size: 40px;
  font-family:Roboto Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
  margin-bottom: 0%;
  text-align: center;
  margin: auto;
  color:#151515;
  padding-top: 5vw;

}